<div class="content-heading mb-lg">
  微信支付
</div>
<div>
  <div class="col-lg-7">
    <div>
      <img src="../../../../assets/img/select.png" alt="" class="_img">
    </div>
    <div>
      <div class="clearfix">
        <span class="w50 _line _text">支付成功</span> <span class="w50  _line">订单号：{{ordno}}</span>
      </div>
      <div class="clearfix">
        <span class="w50 _line _text">我们会尽快处理</span> <span class="w50  _line">在线支付：{{price}}元</span>
      </div>
      <div class="clearfix">
        <span class="_line _link">查看订单状态</span> | <span class="_line _link" routerLink="/main/stockMan/agentord">继续逛逛</span>
      </div>
    </div>
  </div>
</div>
