ul,li{
  list-style: none;margin:0;padding: 0;
}
._headBg{
  background: #F3F3F3;margin-bottom: 20px;
}
.marLeft{
  margin-left: 15px;
}
._storeBt{
  margin-bottom: 20px;
  //border-top: 3px solid #AAAAAA;
}
._myPaddingBody{
  padding: 15px;
}
._special{
  margin-top:0px !important;
}
._pay{
  border:1px solid #F0F0F0;
}
._extra{
  border-top:1px solid #CFDBE2;
  border-left:0px !important;
  border-right:0px !important;
}
._padingBtm{
  padding-bottom: 20px;
}
._myPrice{
  color:#E64346;
  font-size: 25px;
}
._select{
  margin-right:20px;
  display: block;
  margin-top:0px;
}
._myExpress{
  margin-right:20px;
}
.prompting{
  background: #fcf8e3;
  padding: 5px 10px;
}
