._headBg{
  background: #F3F3F3;margin-bottom: 20px;
}
.marLeft{
  margin-left: 15px;
}
._storeBt{
  margin-bottom: 20px;
}
._myPaddingBody{
  padding: 15px;
}
._special{
  margin-top:0px !important;
}

._extra{
  border-top:1px solid #CFDBE2;
  border-left:0px !important;
  border-right:0px !important;
}
._PAIDngBtm{
  padding-bottom: 20px;
}
._myPrice{
  color:#E64346;
  font-size: 25px;
}
._select{
  margin-right:20px;
  display: block;
  margin-top:0px;
}
._myExpress{
  margin-right:20px;
}
.prompting{
  background: #fcf8e3;
  padding: 5px 10px;
}
._img{
  width:60px;height:60px;
}
._caculate{
  margin-top:35px;
}
._button{
  width:150px;height:45px;font-size:16px;
}
.goods-info-box{
  position: relative;
}
.goods-img{
  width: 60px;
  height: 60px;
}
.goods-img img{
  width: 100%;
  height: 100%;
}
.goods-name{
  position: absolute;
  top: 0px;
  left: 80px;
  bottom: 10px;
  right: 10px;
}
._myNmu{
  position: relative;height:1px;
}
._myNmu .input-group-sm{
  position:absolute;left:0;right:0;top:29px;bottom:0;margin:auto;
}
.width120{
  width: 120px;height:31px;
}
.wmask{
  position: absolute;
  background: rgba(255,255,255,.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:10;
}
._delMask{
  position: relative;z-index: 20;
}
