<div class="content-heading mb-lg">
  购物车列表
</div>
<div class="panel h80 prompting">
  <span> 温馨提示：</span><span>总价格大于2000免运费哦</span>
</div>
<div class="panel panel-default _PAIDngBtm">
  <!--头部-->
  <div class="panel-body _headBg">
    <ul class=" clearfix _list">
      <li class="w10 pull-left text-left _myALL _list">
        <div class="checkbox c-checkbox m0">
          <label>
            <input type="checkbox" class="_all" (change)="allEle($event.target)"/>
            <span class="fa fa-check"></span>全选
          </label>
        </div>
      </li>
      <li class="w40 pull-left text-left">
        <div>商品</div>
      </li>
      <li class="w10 pull-left text-center">
        <div>单价（元）</div>
      </li>
      <li class="w10 pull-left text-center">
        <div>数量</div>
      </li>
      <li class="w10 pull-left text-center">
        <div>小计</div>
      </li>
      <li class="w20 pull-left text-center">
        <div>操作</div>
      </li>
    </ul>
  </div>
  <!--主体-->
  <div>
    <ul class="clearfix  _storeBt _myStoreTotal _list">
      <!--店铺列表-->
      <li class="w100 pull-left text-center _storeBt _myStore _list" *ngFor="let store of storeListData;let i = index">
        <div class="clearfix">
          <div class="w50 text-left marLeft  pull-left">
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" class="_store" (click)="storeEle($event.target)"/>
                <span class="fa fa-check"></span> {{store.storeName}}
              </label>
            </div>
          </div>
        </div>

        <ul class="clearfix panel panel-default _extra _list">
          <!--商品列表-->
          <li class="_myPaddingBody clearfix _list" *ngFor="let good of store.agentGoodsVOList;let i = index">
            <div class="w10 pull-left text-left">
              <div class="checkbox c-checkbox _special">
                <label>
                  <input type="checkbox" class="_good" (click)="goodEle($event.target)"/>
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </div>
            <div class="w40 pull-left text-left goods-info-box">
              <div class="goods-img">
                <img src="{{good.goodsImage}}" alt="" class='_img'
                     onerror="javascript:this.src='../../../assets/img/dummy.png';">
              </div>
              <div class="goods-name">
                <div class="extra"><span>商品名字：{{good.goodsName}}</span></div>
                <div *ngFor="let standard of good.goodsSavSetList">{{standard.attrName}}：{{standard.value}}</div>
              </div>
            </div>
            <div class="w10 pull-left text-center _batchPrice">￥ {{good.batchPrice | number:'1.2-2'}}</div>
            <div class="w10 pull-left text-center _myNmu clearfix">
              <div class="input-group updateNum input-group-sm  width120 clearfix">
                <span class="input-group-addon" (click)="minusNum($event.target,good.agentCartId)"><i
                  class="fa fa-minus"></i></span>
                <input class="form-control _num num text-center" type="number" #input
                       (change)="updataNum($event.target,good.agentCartId,good.storageNum)"
                       value="{{good.num}}" (keyup)="checkVal(input)"/>
                <input type="hidden" class="_agentCartId" value="{{good.agentCartId}}" >
                <span class="input-group-addon" (click)="addNum($event.target,good.agentCartId,good.storageNum)"><i
                  class="fa fa-plus" disabled></i></span>
              </div>
            </div>
            <div class="w10 pull-left text-center _goodTotalPrice">
              ￥ {{good.goodsSubtotal | number:'1.2-2'}}
            </div>
            <div class="w20 pull-left text-center">
              <app-buttons [config]="deletebutton" (click)="doDelete(good.agentCartId)"></app-buttons>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <!--结算-->
    <div class="clearfix w100 panel-body _pay">
      <div class="pull-right">
        <button class="btn btn-danger _caculate _button" (click)="linkOrderPage()">去结算</button>
      </div>
      <div class="pull-right w18 clearfix">
        <span class="_select pull-left">已选择 <b class="_myPrice">{{shopTotalNumber}}</b>件商品</span>
        <span class="_select pull-left">运费：<b
          class="_myPrice">&yen; {{priceList.expressPrice  | number:'1.2-2'}}</b></span>
        <span class="_select pull-left">总价：<b class="_myPrice">&yen; {{priceList.payment  | number:'1.2-2'}}</b></span>
      </div>
    </div>
  </div>
</div>

