<div class="content-heading mb-lg">
  购物车列表
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table-striped table" #carlist="rzhDataTable" [rzhData]="carListData"
           (pageChange)="getCarList($event)">
      <thead>
      <tr>
        <th class="w5 text-left"></th>
        <th class="w55 text-left">
          <rzhDefaultSorter by="name">商品</rzhDefaultSorter>
        </th>
        <th class="w5 text-center">
          <rzhDefaultSorter>单价</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">
          <rzhDefaultSorter>数量</rzhDefaultSorter>
        </th>
        <th class="w5 text-center">
          <rzhDefaultSorter>小计</rzhDefaultSorter>
        </th>
        <th class="w20 text-center">操作</th>
      </tr>
      <tr>
        <th checkAll class="text-left">
          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox" (click)="showTotalCar()"/>
              <span class="fa fa-check"></span>全选
            </label>
          </div>
        </th>
        <th checkAll class="shopCar" *ngIf="showCar">
          <a (click)="addAllCart(a)" title="加入购物车" class="addCar">
            <em class="fa fa-shopping-cart"></em>
          </a>
          加入购物车
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let shop of carlist.data;let i = index">
        <tr>
          <td>
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" (change)="getData($event.target)"/>
                <span class="fa fa-check"></span>
              </label>
            </div>
          </td>
          <td class="text-left">
            <div class="col-xs-1 p0">
              <img src="{{shop.goodsImage}}" alt="" class='special'
                   onerror="javascript:this.src='../../../assets/img/dummy.png';">
            </div>
            <div class="col-xs-11">
              <div (click)="showDetail(shop)">{{shop.goodsName}}</div>
              <div class="extra"><span>商品编码:{{shop.goodsCode}}</span></div>
            </div>
          </td>
          <td class="text-center">{{shop.joinPrice}}</td>
          <td class="text-center">
            <div class="input-group">
              <span class="input-group-addon" (click)="minusNum($event.target)"><i class="fa fa-minus"></i></span>
              <input class="form-control _num" type="text" (keyup)="updataNum(id,$event.target)" placeholder="Username" value="{{shop.num}}"/>
              <input type="hidden" value="{{shop.goodsCode}}">
              <span class="input-group-addon" (click)="addNum(i,$event.target)"><i class="fa fa-plus"></i></span>
            </div>
          </td>
          <td class="text-center">{{shop.joinPrice*shop.num}}</td>

          <td class="text-center">
            <app-buttons [config]="deletebutton" (click)="doDelete(shop.id)"></app-buttons>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="12">
          <button class="btn btn-danger pull-right">去结算</button>
          <div class="pull-right col-xs-2">
            <span class="select">已选择2件商品</span>
            <span class="">总价:123</span>
            <br>
            <span class="">您已节省0</span>
          </div>
        </td>
      </tr>
      <tr class="text-center">
        <td colspan="12">
          <div class="col-md-5">
            <div class="text-muted pull-left"><strong>第 {{carlistdata.genStartRow()}} 至
              {{carlistdata.genEndRow()}} 条，共 {{carlistdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-md-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
