<div *ngIf="flag">
  <div class="content-heading mb-lg">
    订单页面
  </div>
  <!--<div class="panel h80 prompting">-->
  <!--<span> 温馨提示：</span><span>请确认相关商品信息后提交订单。</span>-->
  <!--</div>-->
  <div class="w100 clearfix">
    <!--<div class="_title">-->
      <!--<h4>填写并核对订单信息</h4>-->
    <!--</div>-->
    <!--内容区域-->
    <div class="_content">
      <!--收货人栏-->
      <div class="_acceptPeople">
        <div class="_title clearfix">
          <b class="col-l-5 pull-left">收货人信息</b>
        </div>
        <div *ngIf="!defaultAddress">
          <span routerLink="/main/stockAddres/rightpage" [queryParams]="{number:1,source:'cart'}"
                class='_myhover font14'>添加地址</span>
        </div>
        <div *ngIf="defaultAddress?.address">
          <div class="w100 clearfix">
            <div class="text-center col-lg-1 _line thc b _selected _addrId  overflowH" id="{{defaultAddress?.id}}">
              {{defaultAddress?.receiverName}}
            </div>
            <div class="col-lg-8 _line">
            <span>
              {{defaultAddress?.mobPhone}}
            </span>
              <span class="col-xs-offset-1">{{defaultAddress?.areaFullName}}{{defaultAddress?.address}}</span>
            </div>
            <div class="col-lg-1 _line" routerLink="/main/stockAddres/rightpage"
                 [queryParams]="{number:2,id: defaultAddress && defaultAddress?.id,source:'cart'}">
              编辑
            </div>
          </div>
          <div class="clearfix">
            <accordion-group panelClass="b mt-sm" class="_myBorder">
              <div accordion-heading>更多地址<span class="caret"></span></div>
              <div class="w100 clearfix _hover" *ngFor="let addres of otherAddress" (mouseover)="showButton(addres.id)">
                <div class="text-center col-lg-1 _line">{{addres.receiverName}}</div>
                <div class="col-lg-8 _line">
                  <span>{{addres.mobPhone}}</span>
                  <span class="col-xs-offset-1">{{addres.areaFullName}}{{addres.address}}</span>
                </div>
                <a class="col-lg-1 _line _myhover" *ngIf="addres.id==currentId" (click)="changeAddres(addres.id)" title="设置为默认地址">
                  选择地址
                </a>
                <a class="col-lg-1 _line _myhover" *ngIf="addres.id==currentId" routerLink="/main/stockAddres/rightpage"
                   [queryParams]="{number:2,id:addres.id,source:'cart'}">
                  编辑
                </a>
              </div>
            </accordion-group>
          </div>
        </div>
      </div>
      <!--支付方式-->
      <div class="_acceptPeople">
        <div class="_title clearfix">
          <b class="col-l-5 pull-left">支付方式</b>
        </div>
        <div>
          <div class="w100 clearfix _payWay">
            <div class="text-center col-lg-1 _line thc b _marginR _selected _myhover p0"
                 (click)="changeStyle($event.target)">在线支付
            </div>
            <div class="text-center col-lg-1 _line _myhover p0 thc" (click)="changeStyle($event.target)">银行汇款</div>
          </div>
        </div>
      </div>
      <!--订单信息栏-->
      <div class="_acceptPeople">
        <div class="_title clearfix">
          <b class="col-l-5 pull-left ">订单信息</b>
        </div>
        <div class="_good">
          <div class="_line">
            <ul class=" clearfix _list">
              <li class="w70 pull-left text-leftr">
                <div class="w20 text-center">商品</div>
              </li>
              <li class="w10 pull-left text-center">
                <div>单价</div>
              </li>
              <li class="w10 pull-left text-center _orderTotalNum">
                <div>数量</div>
              </li>
              <li class="w10 pull-left text-center">
                <div>小计</div>
              </li>
            </ul>
          </div>
          <ul class="clearfix  _storeBt _myStoreTotal _list">
            <!--店铺列表-->
            <li class="w100 pull-left text-center _list _kind"
                *ngFor="let good of orderData?.agentOrdItems;let i = index">
              <!--<div class="clearfix">-->
              <!--<div class="w5 text-left marLeft  pull-left">-->
              <!--<div class="checkbox c-checkbox">-->
              <!--<label>-->
              <!--<input type="checkbox" class="_store" (click)="storeEle($event.target)"/>-->
              <!--<span class="fa fa-check"></span>{{store.storeName}}-->
              <!--</label>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <ul class="clearfix _list">
                <!--商品列表-->
                <li class="_list">
                  <div class="w70 pull-left text-left">
                    <div class="col-xs-1" (mousemove)="showImg($event,img)" (mouseout)="hideImg(img)">
                      <img src="{{good.goodsImage}}" alt="" class='_img'
                           onerror="javascript:this.src='../../../assets/img/dummy.png';">
                      <img src="{{good.goodsImage}}" #img class="hoverBigImg" alt=""
                           onerror="javascript:this.src='../../../assets/img/dummy.png'">
                    </div>
                    <div class="col-xs-11 positionA">
                      <div class="extra "><span>{{good.goodsName}}</span></div>
                      <div class='' *ngFor="let standard of good.goodsSavSetList">
                        {{standard.attrName}}：{{standard.value}}
                      </div>
                    </div>
                  </div>
                  <div class="w10 pull-left text-center">
                    &yen; {{good.batchPrice | number:'1.2-2'}}
                  </div>
                  <div class="w10 pull-left text-center _orderTotalNum">
                    x {{good.batchNum}}
                  </div>
                  <div class="w10 pull-left text-center _orderTotalNum">
                    &yen; {{good.batchPrice*good.batchNum | number:'1.2-2'}}
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!--用户留言-->
      <div class="_acceptPeople">
        <div class="_title clearfix">
          <b class="col-l-5 pull-left">用户留言</b>
        </div>
        <div>
          <input type="text" class="form-control border-b-grey _message"
                 placeholder="请输入你的留言" maxlength="100">
        </div>
      </div>
    </div>
    <!--价格信息-->
    <table class="w100 _table">
      <tr>
        <td class="w70 text-right _line"></td>
        <td class="w30 _line clearfix">
          <dl class="mb0">
            <dt class="w55 displayInline text-right _line fontNormal fontNormal displayInline">
              <span class="mr5">共 <span class="main-red font22">{{goodLength}} </span>种商品</span>
              <span>商品总金额：</span>
            </dt>
            <dd class="w40 text-left ml4 displayInline _line displayInline"><span class="main-red font20 _myPrice">&yen; {{orderData?.total  | number:'1.2-2'}}</span>
            </dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td class="w70 text-right _line"></td>
        <td class="w30 _line">
          <dl class="mb0">
            <dt class="w55 displayInline text-right _line fontNormal fontNormal displayInline">运费：</dt>
            <dd class="w40 text-left ml4 displayInline _line displayInline"><span class="main-red font20 _myPrice">&yen; {{orderData?.expressPrice  | number:'1.2-2'}}</span>
            </dd>
          </dl>
        </td>
      </tr>
      <tr>
        <td class="w70 text-right _line"></td>
        <td class="w30 _line">
          <dl class="mb0">
            <dt class="w55 displayInline text-right _line fontNormal fontNormal displayInline">应付总额：</dt>
            <dd class="w40 text-left ml4 displayInline _line displayInline"><span class="main-red font20 _myPrice">&yen; {{orderData?.payment  | number:'1.2-2'}}</span>
            </dd>
          </dl>
        </td>
      </tr>
    </table>
    <!--提交订单-->
    <div class="clearfix">
      <button class="btn btn-danger pull-right _myhover _button m15 thc bg b" (click)="goPay()">提交订单</button>
    </div>
  </div>
</div>
