.prompting{
  background: #fcf8e3;
  padding: 5px 10px;
}
._content{
  //border:1px solid #F0F0F0;
  background-color: #fff;
  padding: 0 20px;
}
._title{
  margin:10px 0px;
}
._acceptPeople{
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 15px;
}
._title{
  line-height: 40px;
  height: 40px;
  color: #929292;
}
._border{
  border:1px solid #E4393C;
}
._storeBorder{
  border:1px solid #F0F0F0;
}
._paddinglr{
  padding: 0px 15px;
}
._myPrice{
  color:#E64346;
  font-size: 25px;
}
._select{
  margin-right:20px;
  display: block;
  margin-top:0px;
}
._table{
  background: #fff;
}
._good{
  background: #F4F4F4;
  padding: 10px;
}
td{
  padding: 0px;
}
._hover:hover{
  background:#F0F0F0;
}
._marginR{
  margin-right:20px;
}
._selected{
  background: url("../../../../assets/img/selected-icon.png") right bottom no-repeat;
}
._img{
  width:65px;height:65px;
}
._button{
  width:150px;height:45px;font-size:16px;
}
._myBorder{
  border:0px solid #fff!important;
}
.positionA{
  position: absolute;left:80px;
}

