.prompting{
  background: #fcf8e3;
  padding: 5px 10px;
}
._content{
  border:1px solid #F0F0F0;
  background-color: #fff;
  padding: 0 20px;
}
._title{
  margin:10px 0px;
}
._acceptPeople{
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 15px;
}
._title{
  line-height: 40px;
  height: 40px;
  color: #929292;
}
._border{
  border:2px solid #E4393C;
}
