.timeline-alt > li > .timeline-badge {
  position: absolute;
  left: 16px;
  z-index: 100;
  color: #fff;
  width: 6px;
  height: 6px;
  margin-top: 8px;
  font-size: 12px;
  border-radius: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #d8d8d8;
}
