<ng-container *ngIf="showList">
  <ul class="clearfix order-table-head list-unstyled mb0 p b">
    <li class="w40 pull-left text-center thc font">商品</li>
    <li class="w10 pull-left text-center thc font">单价</li>
    <li class="w10 pull-left text-center thc font">数量</li>
    <li class="w10 pull-left text-center thc font">收货人</li>
    <li class="w10 pull-left text-center thc font">订单金额</li>
    <li class="w10 pull-left text-center thc font">交易状态</li>
    <li class="w10 pull-left text-center thc font">操作</li>
  </ul>
  <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="goodsList"
         (pageChange)="queryDatas(1,$event)">
    <tbody>
    <tr class="mt" *ngFor="let goods of dataTable.data;let i = index">
      <td class="w100 p0 font12 bt0">
        <div class="order-space"></div>
        <div class="order-head p b bb0">
          <span class="mr-xl">订单编号：{{goods.ordno}}</span>
          <span class="mr-xl">下单时间：{{goods.createTime}}</span>
        </div>

        <table class="w100 b">
          <tr class="text-center" *ngFor="let item of goods.agentOrdItemList;let j = index">
            <td class="w40 p text-left position-relative bb">
          <span class="goods-img goods-lg-img mr" (mousemove)="showImg($event,img)" (mouseout)="hideImg(img)">
            <img [src]="item.goodsImage" onerror="javascript:this.src='../../../assets/img/dummy.png'" alt="">
            <img src="{{item.goodsImage}}" #img class="hoverBigImg" alt=""
                 onerror="javascript:this.src='../../../assets/img/dummy.png'">
          </span>
              <div class="goods-lg-info">
                <p class="mb0 font13 omg2 two-row mb-sm">
                  <a class="goods-name" href="javascript:;">{{item.goodsName}}</a>
                </p>
                <p class="mb0 one-row omg" *ngFor="let info of jsonToObject(item.goodsSavSet)">
                  <span class="inline">{{info.attrName}}：</span>
                  <span class="inline">{{info.value}}</span>
                </p>
              </div>
            </td>
            <td class="w10 bb">￥{{item.batchPrice| number:'1.2-2'}}</td>
            <td class="w10 bb">{{item.batchNum}}</td>
            <td class="w10 bl position-relative" *ngIf="j==0" [attr.rowspan]="goods.agentOrdItemList.length">
            <span class="mb0 cursor-p" myHoverColor [myHover]="'#CC1635'" (mouseenter)="showUserInfo(i)"
                  (mouseleave)="hideBuyerInfo(i)">{{goods.linkman}}
            </span>
              <div class="szh-buyer-info text-left" #i (mouseenter)="showUserInfo(i)" (mouseleave)="hideBuyerInfo(i)">
                <div class="info-con">
                  <p class="pl mb-sm"><i class="fa fa-user"></i> 收货人信息</p>
                  <dl>
                    <dt>姓名：</dt>
                    <dd>{{goods.linkman}}</dd>
                  </dl>
                  <dl>
                    <dt>电话：</dt>
                    <dd>{{goods.mobile}}</dd>
                  </dl>
                  <dl>
                    <dt>地址：</dt>
                    <dd>{{goods.addr}}</dd>
                  </dl>
                </div>
              </div>
            </td>
            <td class="w10 bl" *ngIf="j==0" [attr.rowspan]="goods.agentOrdItemList.length">
              <span class="main-red font14">￥{{goods.pay | number:'1.2-2'}}</span><br>
              <span class="font-gray">运费 ￥{{goods.freightPrice | number:'1.2-2'}}</span><br>
              <span class="font-gray">{{goods.payWay | rzhState :'1017'}}</span>
            </td>
            <td class="w10 bl" *ngIf="j==0" [attr.rowspan]="goods.agentOrdItemList.length">
              <p class="font-gray mb-sm cursor-p">{{goods.state | rzhState :'1019'}}</p>

              <p class="cursor-p mb-sm" myHoverColor [myHover]="'#CC1635'" routerLink="./order-detail"
                 [queryParams]="{ordno:goods.ordno,curPage:goodsList.curPage}">查看详情</p>
              <p class="cursor-p mb-sm" *ngIf="goods.state=='DELIVERY'" myHoverColor [myHover]="'orange'" (click)="lookLogistics(goods.goodsName)">
                查看物流</p>
            </td>
            <td class="w10 bl" *ngIf="j==0" [attr.rowspan]="goods.agentOrdItemList.length">
              <button *ngIf="goods.state=='SUCCESS'" class="m-sm btn btn-xs  fa fa-shopping-cart thc bg _backColor"
                      (click)="againBuy(item.goodsCode,item.batchNum,goods.agentOrdItemList)"> 再进货
              </button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="10" class="bt0">
        <div class="col-sm-5">
          <div class="text-muted"><strong>第 {{goodsList.genStartRow()}} 至 {{goodsList.genEndRow()}} 条，共
            {{goodsList.totalRow}}
            条</strong></div>
        </div>
        <div class="col-sm-7">
          <div class="pull-right">
            <rzhBootstrapPaginator></rzhBootstrapPaginator>
          </div>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</ng-container>

<!--路由嵌套 begin-->
<router-outlet (activate)="activate($event)" (deactivate)='onDeactivate($event)'></router-outlet>
<!--路由嵌套 end-->
