<div class="row">
  <div style="min-width: 1137px;" class="">
    <div class="col-lg-8 col-md-6 shop">
      <!-- Team Panel-->
      <div class="panel panel-default" style="height: 328px">
        <div class="panel-heading">
          <div class="panel-title font16">店铺及商品提示</div>
          <p>新版页面正在筹备，尽请期待</p>
        </div>
        <div class="bg-gray release">
          <div class="font16">代理商统计</div>
          <div class="label label-danger thc bgIcon colorIcon">{{data?.allGoods}}</div>
        </div>
        <div style="">
          <button class="mb-sm btn btn-green btn-outline m-all">进货数量
            <div class="label label-danger thc bgIcon colorIcon">
              {{data?.sumBatchNum}}
            </div>

          </button>
          <button class="mb-sm btn btn-green btn-outline m-all">进货金额
            <div class="label label-danger thc bgIcon colorIcon">
              {{data?.sumPay}}
            </div>
          </button>
          <button class="mb-sm btn btn-green btn-outline m-all">发货数量
            <div class="label label-danger thc bgIcon colorIcon">
              {{data?.countDelivery}}
            </div>
          </button>
        </div>
        <div style="height: 60px">
          <button class="mb-sm btn btn-green btn-outline m-all">派单数量
            <div class="label label-danger thc bgIcon colorIcon">
              {{data?.agentAllOrd}}
            </div>
          </button>
          <button class="mb-sm btn btn-green btn-outline m-all">接单数量
            <div class="label label-danger thc bgIcon colorIcon">
              {{data?.agentDealOrd}}
            </div>
          </button>
          <button class="mb-sm btn btn-green btn-outline m-all" >拒单数量
            <div class="label label-danger thc bgIcon colorIcon">
              {{data?.agentRejectOrd}}
            </div>

          </button>
        </div>


        <div style="">
          <div class="bg-gray release font16">今日统计</div>
          <button class="mb-sm btn btn-green btn-outline m-all">派单数量
            <div class="label label-danger thc bgIcon colorIcon">
              {{data?.todayAgentAllOrd}}
            </div>
          </button>
          <button class="mb-sm btn btn-green btn-outline m-all">接单数量
            <div class="label label-danger thc bgIcon colorIcon">
              {{data?.todayAgentDealOrd}}
            </div>
          </button>
          <button class="mb-sm btn btn-green btn-outline m-all" >拒单数量
            <div class="label label-danger thc bgIcon colorIcon">
              {{data?.todayAgentRejectOrd}}
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 business">
      <div class="panel panel-default business" style="height: 330px">

        <div class="panel-heading">
          <div class="panel-title font16">平台联系方式</div>
          <p style="padding-top: 7px">平台电话：{{tel2}}</p>
          <p style="padding-top: 7px">技术服务电话：{{tel1}}</p>
          <!--<p>联系地址：{{address.info}}</p>-->
          <!--<p style="padding-top: 7px">客服电话1：{{tel.info}}</p>-->
          <!--<p>联系方式：{{address.info}}</p>-->
        </div>

      </div>
      <!-- end Team Panel-->
    </div>
  </div>

  <div style="">
    <div class="col-lg-12 col-md-6 shop" >
      <!-- Team Panel-->
      <div class="panel panel-default"  style="height: 360px">
        <div class="panel-heading">
          <div class="panel-title">最新平台派单走势</div>
        </div>

        <div class="panel">
          <div echarts [options]="optionPrev" class="demo-chart w100" style="height: 300px"></div>
        </div>
      </div>
      <!-- end Team Panel-->
    </div>

  </div>


</div>
