@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';

.home-container {
    margin: 0 auto;
    max-width: $container-md;

    .home-logo {
        width: 240px;
    }

    .home-text {
        @media only screen and (max-width: $mq-tablet) {
            text-align: center;
        }
    }
}
.shop{
  height: 360px;
  min-width: 728px
}
.release{
  height: 40px;
  line-height: 40px;
  padding-left: 40px
}
.m-all{
  margin: 12px 50px;
  width: 135px;
}
.business{
  height: 360px
}
.connect{
  margin: 0px 0 20px;
}
.block{
  display: block;
}
.agent{
  color: #00b3ee;
}
.technical{
  color:#4ae100;
}
.mail{
  color: #ffe423;
}
