<div class="row">
  <div class="col-lg-8 col-md-6" style="height: 360px">
    <!-- Team Panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">店铺及商品提示</div>
        <p>新版页面正在筹备，尽请期待</p>
      </div>
      <div class="bg-gray" style="height: 40px">发布商品数量{{data.allGoods}}</div>
      <div style="height: 70px">
        <button class="mb-sm btn btn-green btn-outline" style="    margin: 20px 40px;">出售中的商品{{data.NORMAL}}</button>
        <button class="mb-sm btn btn-green btn-outline" style="    margin: 20px 40px;">发布待平台审核{{data.AUDIT}}</button>
        <button class="mb-sm btn btn-green btn-outline" style="    margin: 20px 40px;">平台审核失败{{data.UNPASS}}</button>
        <button class="mb-sm btn btn-green btn-outline" style="    margin: 20px 40px;">仓库中已审核{{data.PASS}}</button>
        <button class="mb-sm btn btn-green btn-outline" style="    margin: 20px 40px;">被禁售的商品{{data.STOP}}</button>
      </div>

    <div class="bg-gray" style="height: 40px">近期售出：交易中的订单</div>
      <div style="height: 70px">
      <button class="mb-sm btn btn-green btn-outline" style="    margin: 20px 40px;">代收货订单{{data.CR}}</button>
      <button class="mb-sm btn btn-green btn-outline" style="    margin: 20px 40px;">代发货订单{{data.PREPARE}}</button>
      <button class="mb-sm btn btn-green btn-outline" style="    margin: 20px 40px;">退款中{{data.refundIng}}</button>
      </div>
    </div>

  </div>
  <div class="col-lg-4 col-md-6" style="height: 360px">
    <!-- Team Panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">商家公告</div>
        <p>新版页面正在筹备，尽请期待</p>
      </div>

      <div class="panel-heading">
        <div class="panel-title">平台联系方式</div>
        <p>客服电话1：0371-6565326</p>
        <p>客服电话2：0371-6565326</p>
        <p>联系方式：河南省郑州市高新区莲花街</p>
      </div>

    </div>
    <!-- end Team Panel-->
  </div>
  <div class="col-lg-8 col-md-6">
    <!-- Team Panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">最新时间段销售走势</div>
        <p>分析每日热销时段及调整销售策略</p>
      </div>

      <div class="panel">
        <div echarts [options]="optionPrev" class="demo-chart w100"></div>
      </div>
    </div>
    <!-- end Team Panel-->
  </div>
  <div class="col-lg-4 col-md-6" style="height: 360px">
    <!-- Team Panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">单品销售排行</div>
        <p>掌握三十日内最热销的商品吉首补充货源</p>
        <p>{{data.goodsRanking}}</p>
      </div>
    </div>
  </div>

</div>
