
.shop {
  height: 360px;
  min-width: 728px
}

.release {
  height: 40px;
  line-height: 40px;
  padding-left: 40px
}

.m-all {
  margin: 12px 50px;
  width: 160px;
}

.business {
  height: 330px
}

.connect {
  margin: 0px 0 20px;
}

.block {
  display: block;
}

.agent {
  color: #00b3ee;
}

.technical {
  color: #4ae100;
}

.mail {
  color: #ffe423;
}

.home-width {
  min-width: 1137px;
}

.title-width {
  height: 328px
}

.count-width {
  height: 60px
}

.content-width {
  height: 50px;
}

.scroll-heoght {
  height: 360px
}

.echarts-height {
  height: 300px;
}
