<div class="content-heading mb-lg">
  <span class="thc font">代理商收货地址</span>
  <!--添加代理商收货地址按钮配置-->
  <app-buttons class="pull-right pr" [config]="addButton" routerLink="rightpage" [queryParams]="{number:1}"></app-buttons>
</div>
<div class="panel">
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="addres">
      <thead>
      <tr>
        <th class="unselectable text-center w5 thc font">
          序号
        </th>
        <th class="col-md-1 unselectable text-center thc font">
          收货人名称
        </th>
        <th class="col-md-2 unselectable text-center thc font">
          区域全称
        </th>
        <th class="col-md-2 unselectable text-center thc font">
          手机号
        </th>
        <th class="col-md-1 unselectable text-center thc font">
          座机
        </th>
        <th class="col-md-2 unselectable text-center thc font">
          详细地址
        </th>
        <th class="col-md-1 unselectable text-center thc font">
          创建时间
        </th>
        <th class="col-md-1 unselectable text-center thc font">
          设为默认地址
        </th>
        <th class="col-md-1 unselectable text-center thc font">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let organ of dataTable.data;let i = index" class="text-center">
        <td>{{i+1}}</td>
        <td>{{organ.receiverName}}</td>
        <td>{{organ.areaFullName}}</td>
        <td>{{organ.mobPhone}}</td>
        <td>{{organ.telPhone}}</td>
        <td>{{organ.address}}</td>
        <td>{{organ.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>
          <label class="switch">
            <input type="checkbox" [checked]="organ.isDefault=='Y'" (change)="upFiledateState(organ)" title="设为默认地址"/>
            <span></span>
          </label>
        </td>
        <td>
          <!--修改代理商收货地址信息按钮-->
          <app-buttons [config]="updatebutton" routerLink="rightpage" [queryParams]="{number:2,id:organ.id}" ></app-buttons>
          <!--删除代理商收货地址信息按钮-->
          <app-buttons [config]="deletebutton" (click)="delete(organ.id)" *ngIf="organ.isDefault=='N'"></app-buttons>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->

