<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <select class="form-control pl-sm pr-sm" name="state"  [(ngModel)]="stateEnum">
    <option value="{{item.key}}" *ngFor="let item of list">{{item.val}}</option>
  </select>
    <input  *ngIf="stateEnum=='OTHER'" class="form-control mt" type="text" maxlength="128"   [(ngModel)]="other"  placeholder='请输入拒单的原因'/>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="submit()">提交</button>
</div>
