<div class="content-heading mb-lg">
  商品列表
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped" #shopList="rzhDataTable" [rzhData]="shopListdata"
           (pageChange)="queryshopList($event)">
      <thead>
      <tr>
        <th class="w5">
          序号
        </th>
        <th class="w15">
          <rzhDefaultSorter by="name">商品名称</rzhDefaultSorter>
        </th>
        <th class="w15">
          <rzhDefaultSorter>分类名称</rzhDefaultSorter>
        </th>
        <th class="w10">
          <rzhDefaultSorter>品牌</rzhDefaultSorter>
        </th>
        <th class="w10">
          <rzhDefaultSorter>单位</rzhDefaultSorter>
        </th>
        <th class="w10">
          <rzhDefaultSorter>价格</rzhDefaultSorter>
        </th>
        <th class="w15">
          <rzhDefaultSorter>规格</rzhDefaultSorter>
        </th>
        <th class="w20">操作</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let shop of shopList.data;let i = index">
        <tr>
          <td>{{i+1}}</td>
          <td>
            <div class="col-xs-3">
              <img src="{{shop.goodsImage}}" alt="" onerror="javascript:this.src='../../../assets/img/dummy.png';">
            </div>
            <dl class="col-xs-9">
              <dt class="m15">{{shop.goodsName}}</dt>
              <dd class="m15"><span>商品编码:{{shop.goodsCode}}</span></dd>
            </dl>
          </td>
          <td>{{shop.kindName}}</td>
          <td>{{shop.brandName}}</td>
          <td>{{shop.unit}}</td>
          <td>{{shop.goodsPrice.batchPrice}}</td>
          <td *ngFor="let standard of shop.goodsSavSetList">
            {{standard.attrName}}：{{standard.value}}
          </td>
          <td>
            <app-buttons [config]="detailsbutton" (click)="showDetail(shop)"></app-buttons>
            <app-buttons [config]="updatebutton"></app-buttons>
          </td>
        </tr>
        <tr *ngIf="shop.isShow">
          <td class="pl0" colspan="11">
            <div class="bg-table special text-left">
              <span class="m10">种类名称:</span> <span>{{shop.kindName}}</span>
            </div>
            <div class="bg-table special text-left">
              <span class="m10">邮箱:</span> <span>{{shop.isBatch}}</span>
            </div>
            <div class="bg-table special text-left">
              <span class="m10">最后登陆时间:</span> <span>{{shop.haveGift}}</span>
            </div>
            <div class="bg-table special text-left">
              <span class="m10">状态:</span> <span> {{shop.state}}</span>
            </div>
            <div class="bg-table special text-left">
              <span class="m10">qq:</span> <span>{{shop.goodsAudit}}</span>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr class="text-center">
        <td colspan="12">
          <div class="col-md-5">
            <div class="text-muted pull-left"><strong>第 {{shopListdata.genStartRow()}} 至
              {{shopListdata.genEndRow()}} 条，共 {{shopListdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-md-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
