._price{
  font-size:18px;
  span{
    color:#F05151;font-size: 28px;
  }
}
._text{
  height:66px;width:280px;line-height: 66px;text-align: center;color:#fff;
  background: #00A6E9;display: inline-block;margin-top:23px;
}
._img{
  width:292px;height:292px;margin-top:34px;
}
._code{
  width:429px;height:429px;
}
._link{
  display: block;font-size:18px;color:#2EA7EB;
}
