<div class="order panel mb">
  <div class="panel-body">
    <div *ngIf="orderType!=100">
      <ul class="order-guide list-unstyled clearfix bb">
        <li class="pull-left" [class.cur-order]="orderType==1" routerLink="all-work-orders">所有工单</li>
        <li class="pull-left" [class.cur-order]="orderType==2" routerLink="wait-for-orders">待接单</li>
        <li class="pull-left" [class.cur-order]="orderType==3" routerLink="order-receive">已接单</li>
        <li class="pull-left" [class.cur-order]="orderType==4" routerLink="handled">已处理</li>
        <li class="pull-left" [class.cur-order]="orderType==5" routerLink="completed">已完成</li>
        <li class="pull-left" [class.cur-order]="orderType==6" routerLink="abnormal">异常工单</li>
      </ul>

      <!--路由嵌套 begin-->
      <router-outlet></router-outlet>
      <!--路由嵌套 end-->
    </div>
  </div>
</div>
