<div class="szh-order-info position-relative">
  <div class="szh-order-details w40">
    <div class="order-head p b">订单信息</div>
    <div class="content p-lg b bt0">
      <dl>
        <dt>收&nbsp;货&nbsp;人：</dt>
        <dd>{{orderData.linkman}}{{orderData.mobile}}{{orderData.addr}}</dd>
      </dl>
      <dl>
        <dt>支付方式：</dt>
        <dd *ngIf="orderData.payWay=='ONLINE'">在线支付</dd>
        <dd *ngIf="orderData.payWay=='REMIT'">银行转账</dd>
      </dl>
      <dl>
        <dt>发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;票：</dt>
        <dd>
          <span>不需要发票</span>
        </dd>
      </dl>
      <dl>
        <dt>买家留言：</dt>
        <dd style="word-break:break-all">{{orderData.remark}}</dd>
      </dl>
      <dl class="line pt-lg">
        <dt>订单编号：</dt>
        <dd>{{orderData.ordno}}
          <span class="pull-right" (mouseenter)="showTimeList(times)"
                (mouseleave)="hideTimesList(times)"
                myHoverColor
                [myHover]="'#CC1635'">更多<i
            class="fa fa-angle-down time-list"></i>
          </span>
          <div class="more b w100" #times (mouseenter)="showTimeList(times)" (mouseleave)="hideTimesList(times)"><span
            class="arrow"></span>
            <ul class="list-unstyled font12 mb0">
              <li><span>{{orderData.createTime}}</span>买家下单时间</li>
            </ul>
          </div>
        </dd>
      </dl>
    </div>
  </div>
  <div class="szh-order-condition bt br bb">
    <p class="font16"><i class="icon-ok-circle green"></i>订单状态：<span>订单已经提交，等待买家付款</span></p>
    <ul class="list-unstyled font12">
      <li>1. 买家尚未对该订单进行支付。</li>
      <li>2. 如果买家未对该笔订单进行支付操作，系统将于订单生成
        <time>24</time>
        小时后自动关闭。
      </li>
    </ul>
    <dl>

    </dl>


  </div>
</div>
<!--其他的状态-->
<div class="rate-of-progress mt-xl mb-xl w100" *ngIf="orderData.state!='CLOSE'">
  <div class="szh-progress-bar w90">
    <div *ngIf="orderData.state=='CR'" class="already-progress _w0"></div>
    <div *ngIf="orderData.state=='PAID'" class="already-progress w25"></div>
    <div *ngIf="orderData.state=='PREPARE'" class="already-progress w50"></div>
    <div *ngIf="orderData.state=='DELIVERY'" class="already-progress w75"></div>
    <div *ngIf="orderData.state=='SUCCESS'" class="already-progress w100"></div>
  </div>
  <ng-container *ngIf="orderData.state=='CR'">
    <dl class="cur">
      <dt>提交订单</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[0].createTime}}</dd>
    </dl>
    <dl>
      <dt>已支付</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[1].createTime}}</dd>
    </dl>
    <dl>
      <dt>已配货</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[2].createTime}}</dd>
    </dl>
    <dl>
      <dt>已发货</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[3].createTime}}</dd>
    </dl>
    <dl>
      <dt>订单完成</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[4].createTime}}</dd>
    </dl>
  </ng-container>
  <ng-container *ngIf="orderData.state=='PAID'">
    <dl class="cur">
      <dt>提交订单</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[0].description}}</dd>
    </dl>
    <dl class="cur">
      <dt>已支付</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[1].description}}</dd>
    </dl>
    <dl>
      <dt>已配货</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[2].createTime}}</dd>
    </dl>
    <dl>
      <dt>已发货</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[3].createTime}}</dd>
    </dl>
    <dl>
      <dt>订单完成</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[4].createTime}}</dd>
    </dl>
  </ng-container>
  <ng-container *ngIf="orderData.state=='PREPARE'">
    <dl class="cur">
      <dt>提交订单</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[0].createTime}}</dd>
    </dl>
    <dl class="cur">
      <dt>已支付</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[1].createTime}}</dd>
    </dl>
    <dl class="cur">
      <dt>已配货</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[2].createTime}}</dd>
    </dl>
    <dl>
      <dt>已发货</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[3].createTime}}</dd>
    </dl>
    <dl>
      <dt>订单完成</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[4].createTime}}</dd>
    </dl>
  </ng-container>
  <ng-container *ngIf="orderData.state=='DELIVERY'">
    <dl class="cur">
      <dt>提交订单</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[0].createTime}}</dd>
    </dl>
    <dl class="cur">
      <dt>已支付</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[1].createTime}}</dd>
    </dl>
    <dl class="cur">
      <dt>已配货</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[2].createTime}}</dd>
    </dl>
    <dl class="cur">
      <dt>已发货</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[3].createTime}}</dd>
    </dl>
    <dl>
      <dt>订单完成</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[4].createTime}}</dd>
    </dl>
  </ng-container>
  <ng-container *ngIf="orderData.state=='SUCCESS'">
    <dl class="cur">
      <dt>提交订单</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[0].createTime}}</dd>
    </dl>
    <dl class="cur">
      <dt>已支付</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[1].createTime}}</dd>
    </dl>
    <dl class="cur">
      <dt>已配货</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[2].createTime}}</dd>
    </dl>
    <dl class="cur">
      <dt>已发货</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[3].createTime}}</dd>
    </dl>
    <dl class="cur">
      <dt>订单完成</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{LogisticsData[4].createTime}}</dd>
    </dl>
  </ng-container>
</div>

<!--订单关闭的状态-->
<div class="rate-of-progress mt-xl mb-xl w100" *ngIf="orderData.state=='CLOSE'">
  <div *ngIf="orderData.state=='CLOSE'" class="already-progress _w0"></div>
  <ng-container *ngIf="orderData.state=='CLOSE'">
    <dl class="cur">
      <dt>订单关闭</dt>
      <dd class="szh-progress-point fa fa-check mt mb-lg"></dd>
      <dd>{{orderData.createTime}}</dd>
    </dl>
  </ng-container>
</div>

<!--物流信息-->
<div class="_logistics">
  <ul class="timeline-alt p0">
    <ng-container *ngFor="let item of LogisticsData;let i=index;">
      <li class="mb0">
        <div class="timeline-badge primary">
          <em class="fa fa-users"></em>
        </div>
        <div class="timeline-panel">
          <div class="right" ng-reflect-klass="popover" ng-reflect-ng-class="right">
            <div>
              <p>
                <span class="mr">{{item.createTime}}</span>
                <span>{{item.description}}</span>
              </p>
              <p *ngFor="let detail of item.traceVos;let i=index;">
                <span class="mr">{{detail.acceptTime}}</span>
                <span>{{detail.acceptStation}}</span>
              </p>
            </div>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</div>

<!--订单信息-->
<div class="w100">
  <table class="w100 b">
    <thead class="w100">
    <tr class="w100 order-head">
      <th class="w50 p text-center">商品</th>
      <th class="w10 p text-center">单价（元）（元）</th>
      <th class="w10 p text-center">数量</th>
      <th class="w10 p text-center">订单金额（元）</th>
      <th class="w10 p text-center">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" *ngFor="let item of orderData.agentOrdItemList">
      <td class="text-left p position-relative bb">
          <span class="goods-img goods-md-img mr"><img [src]="item.goodsImage"
                                                       onerror="javascript:this.src='../../../assets/img/dummy.png'"
                                                       alt=""></span>
        <div class="goods-md-info">
          <p class="mb0 font13 omg2 one-row mb-sm">
            <a class="goods-name" href="javascript:;">{{item.goodsName}}</a>
          </p>
          <p class="mb0 one-row omg font12" *ngFor="let info of jsonToObject(item.goodsSavSet)">
            <span class="inline">{{info.attrName}}：</span>
            <span class="inline">{{info.value}}</span>
          </p>
        </div>
      </td>
      <td class="bb">{{item.batchPrice| number:'1.2-2'}}</td>
      <td class="bb">{{item.batchNum}}</td>
      <td class="bl" [attr.rowspan]="orderData.agentOrdItemList.length">
        <span class="main-red font14">{{item.batchPrice*item.batchNum | number:'1.2-2'}}</span><br>
        <span class="font-gray">运费 {{orderData.freightPrice | number:'1.2-2'}}</span><br>
        <span class="font-gray" *ngIf="orderData.payWay=='ONLINE'">在线支付</span>
        <span class="font-gray" *ngIf="orderData.payWay=='REMIT'">银行汇款</span>
      </td>
      <td class="bl" [attr.rowspan]="orderData.agentOrdItemList.length">
        <button class="m-sm btn btn-xs btn-warning fa fa-ban" *ngIf="orderData.state=='CR'"
                (click)="goPay(orderData.ordno)"> 去支付
        </button>
        <button class="m-sm btn btn-xs btn-warning fa fa-ban" *ngIf="orderData.state=='CR'"> 取消订单</button>
        <button class="m-sm btn btn-xs btn-warning fa fa-ban" *ngIf="orderData.state=='SUCCESS'">
          {{LogisticsData[4].description}}
        </button>

        <button class="m-sm btn btn-xs btn-warning fa fa-ban" *ngIf="orderData.state=='CLOSE'"
                (click)="againBuy(item.goodsCode,item.batchNum)"> 加入购物车
        </button>
        <br>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="10" class="gray-bg order-footer p-sm pr-xl font12">
        <dl class="text-right mb0">
          <dt>运费：</dt>
          <dd><span class="main-red font18">{{orderData.freightPrice | number:'1.2-2'}}</span>元</dd>
        </dl>
        <dl
          class="text-right mb0">
          <dt>订单应付金额：</dt>
          <dd><span class="main-red font20">{{orderData.pay | number:'1.2-2'}}</span>元</dd>
        </dl>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

