.prompting{
  background: #fcf8e3;
  padding: 5px 10px;
}
._border{
  border:1px solid #CFDBE2;
  height:300px;
  position:relative;
}
._border div:nth-child(1){
  margin-right:50px;
}
._confirm{
  background:#E51C23;
  color:#fff;
  position:absolute;right:0;bottom:0;
}
._payBorder{
  border:1px solid #CFDBE2;
}
._payInfo{
  height:160px;
  background:#FFF7FA ;
  div{
    height:100%;
  }
}
._aliPay{
  position:relative;
  margin-right:50px;
  background: #fff;
  height:46px;width:253px;
}
._wxPay{
  position:relative;
  background: #fff;
  height:48px;width:252px;
}
._bgImg{
  position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;
}
._state,._order,._price{
  position:relative;
}
._img{
  position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;
}
._orderNum{
  line-height: 200px;text-align: left;
  height:40px;font-size:18px;
  span{
    color:#F05151;font-size:24px;
  }
}
._title{
  font-size: 16px;
}
._style{
  font-size: 18px;
}
._selected{
  border:1px solid #F05151;
}
