<ng-container *ngIf="flag">
  <div *ngIf="payWay=='ONLINE'">
    <div class="content-heading mb-lg">
      在线支付
    </div>
    <div class="col-lg-12 _border">
      <div class="_payInfo w100">
        <div class="col-lg-2 _state">
          <img src="../../../../assets/img/select.png" alt="" class="_img">
        </div>
        <div class="col-lg-6 _order">
          <div class="_orderNum">
            订单号：<span>{{ordno}}</span>
          </div>
        </div>
        <div class="col-lg-2 _price text-right">
          <div class="_orderNum">订单金额：<span>&yen; {{pay | number:'1.2-2'}}</span></div>
        </div>
      </div>
      <div class="text-center pull-left  _aliPay _pay" (click)="changeStyle($event.target)">
        <img src="../../../../assets/img/alipay.png" alt="" class="_bgImg _myhover">
      </div>
      <div class="text-center pull-left  _wxPay _pay" (click)="changeStyle($event.target)">
        <img src="../../../../assets/img/wxpay.png" alt="" class="_bgImg _selected _myhover">
      </div>
      <img src="{{src}}" alt="">
      <div class="col-lg-1 _confirm _line text-center" (click)="confirmPay()">确认支付</div>
    </div>

  </div>

  <div *ngIf="payWay=='REMIT'">
    <div class="content-heading mb-lg">
      银行汇款
    </div>
    <div class="panel h80 prompting">
      <div> 如何进行汇款：</div>
      <div>1.确认转账账户并转账</div>
      <div>2.与平台客服进行联系，查看是否转账成功</div>
      <div>3.平台确认转账</div>
    </div>
    <div class="col-lg-12 _border">
      <div class="_payInfo w100">
        <div class="col-lg-2 _state">
          <img src="../../../../assets/img/select.png" alt="" class="_img">
        </div>
        <div class="col-lg-6 _order">
          <div class="_img _orderNum "><span class="_style">订单号:{{ordno}}</span></div>
        </div>
        <div class="col-lg-2 _price text-right">
          <div class="_img _orderNum "><span class="_style">订单金额:{{pay}}</span></div>
        </div>
      </div>
      <div class="_line _title">请汇款至以下账户</div>
      <table class="w100 table-striped table">
        <tr>
          <th class="w20 text-center">场景汇款</th>
          <th class="w20 text-center">收款单位</th>
          <th class="w30 text-center">开户行</th>
          <th class="w30 text-center">收款账号</th>
        </tr>
        <tr>
          <td class="w20 text-center">境内汇款</td>
          <td class="w20 text-center">三楂红电子商务有限公司</td>
          <td class="w30 text-center">中国工商银行股份有限公司郑州支行</td>
          <td class="w30 text-center">1000000000000</td>
        </tr>
      </table>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
