.special{
  width:60px;height:60px;
}
.extra{
  margin-top:12px;
}
.change:hover{
  background: #DCF8FF;
}
.detail{
  padding: 10px;
}
.checkbox{
  width:60px;
  margin:10px;
}
.detail:hover{
  background: #F2F2F2;
}
.addCar{
  font-size:30px;
}
