.special{
  width:60px;height:60px;
}
.extra{
  margin-top:12px;
}
.change:hover{
  background: #DCF8FF;
}
.detail{
  padding: 10px;
}
.checkbox{
  width:60px;
  margin:10px;
}
.detail:hover{
  background: #F2F2F2;
}
.addCar{
  font-size:30px;
}
.shopCar{
  padding-left: 16px;
}
.trBg{
  background: #E0F5FA;
}

.goods-info-box{
  position: relative;
}
.goods-img{
  width: 60px;
  height: 60px;
}
.goods-img img{
  width: 100%;
  height: 100%;
}
.goods-name{
  position: absolute;
  top: 10px;
  left: 80px;
  bottom: 10px;
  right: 10px;
}
.width100{
  width: 100px;
}
