.special{
  width:60px;height:60px;
}
.extra{
  margin-top:12px;
}
.change:hover{
  background: #DCF8FF;
}
.detail{
  padding: 10px;
}
.checkbox{
  width:60px;
  margin:10px;
}
.detail:hover{
  background: #F2F2F2;
}
.addCar{
  font-size:25px;
}
.shopCar{
  padding-left: 16px;
  animation:myfirst 0.5s;
}
@keyframes myfirst
{
  from {transform:rotate(0deg);transform-origin:10%;}
  to {transform:rotate(360deg);transform-origin:10%}
}
@-moz-keyframes myfirst /* Firefox */
{
  from {transform:rotate(0deg);transform-origin:10%;}
  to {transform:rotate(360deg);transform-origin:10%}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  from {transform:rotate(0deg);transform-origin:10%;}
  to {transform:rotate(360deg);transform-origin:10%}
}

@-o-keyframes myfirst /* Opera */
{
  from {transform:rotate(0deg);transform-origin:10%;}
  to {transform:rotate(360deg);transform-origin:10%}
}
.trBg{
  background: #E0F5FA;
}

.goods-info-box{
  position: relative;
}
.goods-img{
  width: 80px;
  height: 80px;
}
.goods-img img{
  width: 100%;
  height: 100%;
}
.goods-name{
  position: absolute;
  top: 10px;
  left: 100px;
  bottom: 10px;
  right: 10px;
}
.width120{
  width: 120px;
}
._myNmu{
  position: relative;
}
._myNmu .input-group-sm{
  position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;
}
._addCar{
  text-decoration: none;
}
.noneBb{
  text-decoration: none;
}

