<div class="content-heading mb-lg">
  商品列表
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table" #shopList="rzhDataTable" [rzhData]="shopListdata"
           (pageChange)="queryshopList($event)">
      <thead>
      <tr>
        <th class="w5 text-left"></th>
        <th class="w40 text-left">
          <rzhDefaultSorter by="name">商品名称</rzhDefaultSorter>
        </th>
        <th class="w10">
          <rzhDefaultSorter>规格</rzhDefaultSorter>
        </th>
        <th class="w5 text-center">
          <rzhDefaultSorter>分类名称</rzhDefaultSorter>
        </th>
        <th class="w6 text-center">
          <rzhDefaultSorter>品牌</rzhDefaultSorter>
        </th>
        <th class="w5 text-center">
          <rzhDefaultSorter>单位</rzhDefaultSorter>
        </th>
        <th class="w7 text-center">
          <rzhDefaultSorter>价格</rzhDefaultSorter>
        </th>
        <th class="w12 text-center">
          <rzhDefaultSorter>数量</rzhDefaultSorter>
        </th>
        <th class="w10 text-center">操作</th>
      </tr>
      <tr>
        <th  class="text-left">
          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox" (click)="allSelect($event.target)" class="_all"/>
              <span class="fa fa-check"></span>全选
            </label>
          </div>
        </th>
        <th  class="shopCar" *ngIf="showCar">
          <a (click)="addAllCart()" title="加入购物车" class="addCar">
            <em class="fa fa-shopping-cart"></em>
          </a>
          <a (click)="addAllCart()" class="_myhover _addCar" title="加入购物车">加入购物车</a>
        </th>
      </tr>
      </thead>
      <tbody class="font14">
      <ng-container *ngFor="let shop of shopList.data;let i = index">
        <tr>
          <td>
            <div class="checkbox c-checkbox">
              <label>
                <input type="checkbox" (click)="goodSelect($event.target)" class="_good"/>
                <span class="fa fa-check"></span>
              </label>
            </div>
          </td>
          <td class="text-left goods-info-box">
            <div class="goods-img">
              <img src="{{shop.goodsImage}}" alt="" class='special'
                   onerror="javascript:this.src='../../../assets/img/dummy.png';">
            </div>
            <div class="goods-name">
              <div (click)="showDetail(shop)">{{shop.goodsName}}</div>
              <div class="extra"><span>商品编码:{{shop.goodsCode}}</span></div>
            </div>
          </td>
          <td>
            <div  *ngFor="let standard of shop.goodsSavSetList">
              {{standard.attrName}}：{{standard.value}}
            </div>
          </td>
          <td class="text-center">{{shop.kindName}}</td>
          <td class="text-center">{{shop.brandName}}</td>
          <td class="text-center">{{shop.unit}}</td>
          <td class="text-center">￥{{shop.goodsPrice.batchPrice  | number:'1.2-2'}}</td>
          <td class="_myNmu">
            <div class="input-group input-group-sm width120 text-center">
              <span class="input-group-addon" (click)="minusNum($event.target)"><i class="fa fa-minus"></i></span>
              <input class="form-control _num num  text-center" #input  type="number"  value="1" (change)="changeNum($event.target)" (keyup)="checkVal(input)" required/>
              <input type="hidden" value="{{shop.goodsCode}}">
              <span class="input-group-addon" (click)="addNum(i,$event.target)"><i class="fa fa-plus"></i></span>
            </div>
          </td>
          <td class="text-center">
            <a (click)="showDetail(shop)" title="查看详情" class="addCar">
              <em class="fa fa-search-plus"></em>
            </a>
            <a (click)="addCart(shop.goodsCode,$event.target)" title="加入购物车" class="addCar">
              <em class="fa fa-shopping-cart"></em>
            </a>
          </td>
        </tr>
        <tr *ngIf="shop.isShow" class="trBg">
          <td class="detail" colspan="9">
            <div class="bg-table change text-left">
              <span class="m10">种类名称:</span> <span>{{shop.kindName}}</span>
            </div>
            <div class="bg-table change text-left">
              <span class="m10">店铺名称:</span> <span>{{shop.storeName}}</span>
            </div>
            <div class="bg-table change text-left">
              <span class="m10">创建时间:</span> <span>{{shop.createTime}}</span>
            </div>
            <div class="bg-table change text-left">
              <span class="m10">是否免运费:</span>
              <span>{{shop.isFreight | rzhState :'1001' }}</span>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr class="text-center">
        <td colspan="12">
          <div class="col-md-5">
            <div class="text-muted pull-left"><strong>第 {{shopListdata.genStartRow()}} 至
              {{shopListdata.genEndRow()}} 条，共 {{shopListdata.totalRow}}
              条</strong></div>
          </div>
          <div class="col-md-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
