<!--查询 start-->
<div class="row clearfix p text-right">
  <div class="place-time clearfix mb">
    <span class="_title">下单时间：</span>
    <div class="_picker">
      <div class="input-group">
        <input class="form-control" bsDaterangepicker [bsConfig]="bsConfig" #dpr="bsDaterangepicker" >
        <span class="btn input-group-addon fa fa-calendar" (click)="dpr.show()"></span>
      </div>
    </div>
  </div>
  <div class="search-term clearfix ml mb">
    <div class="w100 pl-sm pr0 pull-left">
      <div class="form-group mb0 pr0">
        <div class="w100 pl0 pr0 pull-left">
          <input type="text" class="form-control border-b-grey"  placeholder="请填写代理商账号"/>
        </div>
      </div>
    </div>
  </div>
  <div class="search-term clearfix ml mb">
    <div class="w100 pl-sm pr0 pull-left">
      <div class="form-group mb0 pr0">
        <div class="w70 pl0 pr0 pull-left">
          <input type="text" class="form-control border-b-grey"  placeholder="请填写订单编号"/>
        </div>
        <button type="button" title="搜索"
                class="btn btn-primary bar-h3-btn mr0 ng-scope"  >
          <em class="icon-magnifier fa-fw"></em>
        </button>
      </div>
    </div>
  </div>
</div>
<!--查询 end-->
<table class="wo table table-striped" #dataTable="rzhDataTable" [rzhData]="woList" (pageChange)="queryDatas(1,$event)">
  <thead>
  <tr>
    <th class="w10 text-center">工单编号</th>
    <th class="w10 text-center">售后单号</th>
    <th class="w9 text-center">商品名称</th>
    <th class="w7 text-center">申请数量</th>
    <th class="w7 text-center">申请金额</th>
    <th class="w9 text-center">服务类型</th>
    <th class="w10 text-center">原因</th>
    <th class="w9 text-center">联系人</th>
    <th class="w9 text-center">电话</th>
    <th class="w7 text-center">状态</th>
    <th class="w15 text-center">操作</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let sale of dataTable.data; let i = index">
    <tr class="text-center">
      <td>{{sale.wono}}</td>
      <td>{{sale.ordno}}</td>
      <td>{{sale.afterGoodsReq.goodsName}}</td>
      <td>{{sale.afterGoodsReq.num}}</td>
      <td>{{sale.afterGoodsReq.reqMoney}}</td>
      <td>{{sale.afterGoodsReq.returnType | rzhState :'1601'}}</td>
      <td>{{sale.afterGoodsReq.reason}}</td>
      <td>{{sale.afterGoodsReq.custName}}</td>
      <td>{{sale.afterGoodsReq.custPhone}}</td>
      <td *ngIf="sale.state=='DONE'">已同意</td>
      <td *ngIf="sale.state=='DEAL'">待处理</td>
      <td *ngIf="sale.state=='END'">已拒绝</td>
      <td>
          <button  class="m-sm btn btn-xs btn-outline btn-info fa fa-check _backColor"  *ngIf="sale.state!='DONE' || 'END'" title="同意退款" (click)="cancelOrder(sale.ordno)"></button>
          <button  class="m-sm btn btn-xs btn-outline fa fa-close _backColor _refuseBg" *ngIf="sale.state!='DONE' || 'END'" title="拒绝退款"></button>
          <button  class="m-sm btn btn-xs btn-outline btn-info fa fa-info-circle _backColor"> 查看详情</button>
          <button  class="m-sm btn btn-xs btn-outline btn-info fa fa-truck _backColor" *ngIf="sale.state!='DEAL'"> 查看物流</button>
      </td>
    </tr>
  </ng-container>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="20">
      <div class="col-sm-5">
        <div class="text-muted"><strong>第 {{woList.genStartRow()}} 至 {{woList.genEndRow()}} 条，共 {{woList.totalRow}} 条</strong>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="pull-right">
          <rzhBootstrapPaginator></rzhBootstrapPaginator>
        </div>
      </div>
    </td>
  </tr>
  </tfoot>
</table>
<app-logistics [orderId]="curCancelOrderId" (cancelOrder)="getCancelOrderData($event)"></app-logistics>

