<div class="deliver-order fadeIn" *ngIf="showDeliverWindow">
  <div class="mask"></div>
  <form class="_popup animated fadeIn" #deliverytpl="ngForm">
    <div class="pop popup-hd">
      <span class="f-bold thc font">发货</span>
      <div class="popup-colse unselectable" (click)="hideWindow()">×</div>
    </div>
    <!--表单-->
    <div class="pop deliver-box font12 w100">
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">代理商工单ID：</dt>
        <dd class="orderId-color col-xs-9 font14 text-left">{{woAgentId}}</dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">订单编码：</dt>
        <dd class="orderId-color col-xs-9 font14 text-left">{{ordno}}</dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">快递公司：</dt>
        <dd class="col-xs-5 font14">
          <select name="expressCode" class="form-control input-sm" required  [(ngModel)]="expressCode">
            <option [value]="item.expressCode" *ngFor="let item of expressList">{{item.expressName}}</option>
          </select>
        </dd>
      </dl>
      <dl class="bb m0 clearfix">
        <dt class="col-xs-3">快递单号：</dt>
        <dd class="col-xs-5 font14">
          <input type="text" name="expressNo" class="form-control required input-sm" required #expressNoTem="ngModel" [(ngModel)]="expressNo" pattern="{{pattern.express}}">
          <div [hidden]="expressNoTem.valid||expressNoTem.untouched"
               class="alert alert-danger">
            请输入合法的快递单号
          </div>
        </dd>
      </dl>
      <!--<dl class="bb m0 clearfix">-->
        <!--<dt class="col-xs-3">发货备注：</dt>-->
        <!--<dd class="col-xs-6 font14">-->
          <!--<textarea name="aa" class="form-control p remark font12" id="12" cols="30" rows="3"-->
                    <!--placeholder="您可以输入一些发货备忘信息（仅卖家自己可见）"></textarea>-->
        <!--</dd>-->
      <!--</dl>-->
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default thc b font" type="button" (click)="hideWindow()">放弃操作</button>
      <button class="btn btn-info thc bg b" type="button" (click)="delivery()" [disabled]="deliverytpl.invalid">确认提交</button>
    </div>
  </form>
</div>

