<!--查询开始-->
<div class="row clearfix p text-right">
  <div class="place-time clearfix mb col-lg-3">
    <div class="pl0 pr0 pull-left w100">
      <input type="text" class="form-control border-b-grey" minlength="128" [(ngModel)]="wono" placeholder="请输入要查询的工单号">
    </div>
  </div>
  <div class="place-time clearfix mb col-lg-3">
    <div class="pl0 pr0 pull-left w100">
      <input type="text" class="form-control border-b-grey" minlength="128" [(ngModel)]="ordno" placeholder="请输入要查询的订单号">
    </div>
  </div>
  <div class="search-term clearfix ml mb col-lg-3">
    <div class="pr0 pull-left w100">
      <select class="form-control pl-sm pr-sm" name="state" #stateEnum (change)="getState(stateEnum.value)">
        <option value="{{item.key}}" *ngFor="let item of stateEnumList">{{item.val}}</option>
      </select>
    </div>
  </div>
  <div class="w10 pl-sm pr0 pull-left col-lg-23">
    <div class="form-group mb0 pr0 text-left">
      <button type="button" title="搜索"
              class="btn btn-primary bar-h3-btn mr0 ng-scope" (click)="queryDatas()">
        <em class="icon-magnifier fa-fw"></em>
      </button>
    </div>
  </div>
</div>
<!--查询结束-->

<table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="workOrderList"
       (pageChange)="queryDatas($event)">
  <thead>
  <tr>
    <th class="w5  text-center">ID</th>
    <td class="w10 text-center vertical">工单号</td>
    <td class="w10 text-center vertical">订单号</td>
    <td class="w10 text-center vertical">收货人</td>
    <td class="w10 text-center vertical">手机</td>
    <td class="w25 text-center vertical">地址</td>
    <td class="w10 text-center vertical">状态</td>
    <td class="w20 text-center vertical">操作</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of dataTable.data;let i = index">
    <td class="w5 text-center">{{order.id}}</td>
    <td class="w10 text-center">{{order.wono}}</td>
    <td class="w10 text-center">{{order.ordno}}</td>
    <td class="w10 text-center">{{order.ord?.linkman}}</td>
    <td class="w10 text-center">{{order.ord?.phone}}</td>
    <td class="w25 text-center">{{order.ord?.address}}</td>
    <td class="w10 text-center">{{order.state | rzhState :'1305' }}</td>
    <td class="w20 text-center">
      <button  class="m-sm btn btn-xs btn-outline btn-info fa fa-info-circle _backColor" routerLink="../work-detail"
               [queryParams]="{ordno:order.ordno}"> 查看详情
      </button>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="10" class="bt0">
      <div class="col-sm-5">
        <div class="text-muted"><strong>第 {{workOrderList.genStartRow()}} 至 {{workOrderList.genEndRow()}} 条，共
          {{workOrderList.totalRow}}
          条</strong></div>
      </div>
      <div class="col-sm-7">
        <div class="pull-right">
          <rzhBootstrapPaginator></rzhBootstrapPaginator>
        </div>
      </div>
    </td>
  </tr>
  </tfoot>
</table>
