<!--查询开始-->
<div class="row clearfix p text-right">
  <div class="pl-sm pr0 pull-right">
    <div class="form-group mb0 pr0 text-left">
      <button type="button" title="搜索"
              class="btn btn-primary bar-h3-btn mr0 ng-scope thc btn-thc" (click)="queryDatas()">
        <em class="icon-magnifier fa-fw"></em>
      </button>
    </div>
  </div>
  <div class="place-time clearfix mb col-lg-2 pull-right">
    <div class="pl0 pr0 pull-left w100">
      <input type="text" class="form-control border-b-grey" maxlength="128" [(ngModel)]="custPhone"
             placeholder="请输入要查询的收货人手机号">
    </div>
  </div>
  <div class="search-term clearfix ml mb col-lg-2 pull-right">
    <div class="pr0 pull-left w100">
      <select class="form-control pl-sm pr-sm" name="state" #stateEnum (change)="getState(stateEnum.value)">
        <option value="">全部</option>
        <option value="{{item.key}}" *ngFor="let item of stateEnumList">{{item.val}}</option>
      </select>
    </div>
  </div>
  <div class="place-time clearfix mb col-lg-2 pull-right">
    <div class="pl0 pr0 pull-left w100">
      <input type="text" class="form-control border-b-grey" maxlength="128" [(ngModel)]="wono" placeholder="请输入要查询的工单号">
    </div>
  </div>
  <div class="place-time clearfix mb col-lg-2 pull-right">
    <div class="pl0 pr0 pull-left w100">
      <input type="text" class="form-control border-b-grey" maxlength="128" [(ngModel)]="ordno"
             placeholder="请输入要查询的订单号">
    </div>
  </div>
</div>
<!--查询结束-->
<!--列表开始-->
<ul class="clearfix order-table-head list-unstyled mb0 p b">
  <li class="w40 pull-left text-center thc font">商品</li>
  <li class="w10 pull-left text-center thc font">单价</li>
  <li class="w10 pull-left text-center thc font">数量</li>
  <li class="w10 pull-left text-center thc font">收货人</li>
  <li class="w10 pull-left text-center thc font">订单金额</li>
  <li class="w10 pull-left text-center thc font">工单状态</li>
  <li class="w10 pull-left text-center thc font">操作</li>
</ul>
<table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="workOrderList"
       (pageChange)="queryDatas(1,$event)">
  <tbody>
  <tr *ngFor="let order of dataTable.data;let i = index">
    <td class="w100 p0 font12 bt0">
      <div class="order-space"></div>
      <div class="order-head p b bb0">
        <span class="mr-xl">ID：{{order.id}}</span>
        <span class="mr-xl">工单号：{{order.wono}}</span>
        <span class="mr-xl">订单号：{{order.ordno}}</span>
        <span class="mr-xl">创建时间：{{order.crtime}}</span>
      </div>
      <table class="w100 b">
        <tr class="text-center" *ngFor="let item of order.ord.ordItemList;let j = index">
          <td class="w40 p text-left position-relative bb">
          <span class="goods-img goods-lg-img mr">
            <img [src]="item.goodsImage" (mousemove)="showImg($event,img)" (mouseout)="hideImg(img)"
                 onerror="javascript:this.src='../../../assets/img/dummy.png'" alt=""></span>
            <img src="{{item.goodsImage}}" #img class="hoverBigImg" alt=""
                 onerror="javascript:this.src='../../../assets/img/dummy.png'">
            <div class="goods-lg-info">
              <p class="mb0 font13 omg2 two-row mb-sm">
                <a class="goods-name" href="javascript:;">{{item.goodsName}}</a>
              </p>
              <p class="mb0 one-row omg" *ngFor="let info of jsonToObject(item.goodsSavSet)">
                <span class="inline">{{info.attrName}}：</span>
                <span class="inline">{{info.value}}</span>
              </p>
            </div>
          </td>
          <td class="w10 bb">￥{{item.marketPrice| number:'1.2-2'}}</td>
          <td class="w10 bb">{{item.num}}</td>
          <td class="w10 bl position-relative" *ngIf="j==0" [attr.rowspan]="order.ord.ordItemList.length">
            <span class="mb0 cursor-p" myHoverColor [myHover]="'#CC1635'" (mouseenter)="showUserInfo(linkMan)"
                  (mouseleave)="hideBuyerInfo(linkMan)">{{order.ord.linkman}}
            </span>
            <div class="szh-buyer-info text-left" #linkMan (mouseenter)="showUserInfo(linkMan)" (mouseleave)="hideBuyerInfo(linkMan)">
              <div class="info-con">
                <p class="pl mb-sm"><i class="fa fa-user"></i> 收货人信息</p>
                <dl>
                  <dt>姓名：</dt>
                  <dd>{{order.ord.linkman}}</dd>
                </dl>
                <dl>
                  <dt>电话：</dt>
                  <dd>{{order.ord.phone}}</dd>
                </dl>
                <dl>
                  <dt>地址：</dt>
                  <dd>{{order.ord?.areaFullName}}{{order.ord?.address}}</dd>
                </dl>
              </div>
            </div>
          </td>
          <td class="w10 bl" *ngIf="j==0" [attr.rowspan]="order.ord.ordItemList.length">
            <span class="main-red font14">￥{{order.ord.total | number:'1.2-2'}}</span><br>
            <span class="font-gray">运费 ￥{{order.ord.freight | number:'1.2-2'}}</span><br>
            <span class="font-gray">{{order.ord.payWay | rzhState :'1017'}}</span>
          </td>
          <td class="w10 bl  position-relative" *ngIf="j==0" [attr.rowspan]="order.ord.ordItemList.length">
            <p class="font-gray mb-sm cursor-p">{{order.state | rzhState :'1305'}}</p>
            <p *ngIf="order.state!='REJECT'" class="cursor-p mb-sm" myHoverColor [myHover]="'#CC1635'" routerLink="../work-detail"  [queryParams]="{ordno:order.ordno,woAgentId:order.id}">查看详情</p>
            <p *ngIf="order.state=='DEAL'" class="cursor-p mb-sm" myHoverColor [myHover]="'orange'"
               (mouseenter)="showLogistics(Logistics,order.ordno)"
               (mouseleave)="hideLogistics(Logistics)">
              查看物流
            </p>
            <div class="szh-buyer-info text-left _logisticsP" #Logistics
                 (mouseenter)="showLogistics(Logistics,order.ordno)"
                 (mouseleave)="hideLogistics(Logistics)">
              <div class="info-con _logisticsW">
                <p class="pl mb-sm clearfix">
                  <span class="fa fa-truck pull-left _line-height"></span>
                  <span class="pull-left">物流信息</span>
                  <a class="pull-right _myhover" routerLink="../work-detail"
                     [queryParams]="{ordno:order.ordno}">查看更多</a>
                </p>
                <div class="_logistics">
                  <ul class="p0" [class.timeline-alt]="LogisticsData">
                    <ng-container *ngFor="let item of LogisticsData;let i=index;">
                      <li class="mb0">
                        <div class="timeline-badge primary thc" [class.bg]="i==0"></div>
                        <div class="timeline-panel _mrl">
                          <div class="right">
                            <div>
                              <p>
                                <span class="mr _myColor">{{item.acceptTime}}</span><br>
                                <span>{{item.acceptStation}}</span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ng-container>
                    <ng-container *ngIf="!LogisticsData">
                      <p class="mb0 p-sm">暂无物流信息</p>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </td>
          <td class="w10 bl" *ngIf="j==0" [attr.rowspan]="order.ord.ordItemList.length">
            <button *ngIf="order.state=='NO'" class="btn btn-xs  btn-success fa fa-check"
                    (click)="toAccept(order.id,workOrderList.curPage)" #accept> 接单
            </button>
            <button *ngIf="order.state=='NO'" class="btn btn-xs  btn-danger fa fa-close"
                    (click)="toReject(order.id,workOrderList.curPage)" #reject> 拒单
            </button>
            <button *ngIf="order.state=='ACCEPT'" class="btn btn-xs  btn-success fa fa-truck"
                    (click)="deliver(order.id,order.ordno)"> 发货
            </button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="10" class="bt0">
      <div class="col-sm-5">
        <div class="text-muted"><strong>第 {{workOrderList.genStartRow()}} 至 {{workOrderList.genEndRow()}} 条，共
          {{workOrderList.totalRow}}
          条</strong></div>
      </div>
      <div class="col-sm-7">
        <div class="pull-right">
          <rzhBootstrapPaginator></rzhBootstrapPaginator>
        </div>
      </div>
    </td>
  </tr>
  </tfoot>
</table>
<!--列表结束-->
<!--发货弹框组件开始-->
<app-deliver-goods [woAgentId]="curWoAgentId" [ordno]="curOrdno" [page]="workOrderList.curPage"
                   (deliverGoods)="getDeliverOrderData($event)"></app-deliver-goods>
<!--发货弹框组件结束-->
<!--拒单组件开始-->
<app-reason-rejec [showReasonWindow]="showReasonWindow" [woAgengId]="transWoAgengId"
                  (closeRejec)="closeRejecWin($event,workOrderList.curPage)"></app-reason-rejec>
<!--拒单组件结束-->
