._w0{
  width:0px !important;
}
.timeline-badge{
  width:12px !important;height:12px !important;font-size:10px !important;line-height:20px !important;left:9px !important;
}
._logistics{
  padding-top:0px;margin-bottom: 10px;background: #F3F3F3;
}
._line-height{
  line-height: 18px;
}
._mrl{
  margin-left:42px !important;
  overflow: hidden;
}
._myColor{
  color:#817E7E;
}

