<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
          <!--<img src="{{avatar}}" alt="">-->
          <img class="img-thumbnail img-circle" src="{{user.picture}}"  onerror="javascript:this.src='../assets/img/user/01.jpg'" alt="Avatar" routerLink="agent-information"/>
            <div class="circle circle-success circle-lg"></div>
        </div>
    </div>
    <!-- Name-->
    <div class="user-block-info">
        <span class="user-block-name">{{ 'sidebar.WELCOME' | translate }}{{user.name}}</span>
        <span class="user-block-role"></span>
         <span routerLink="edit-pw">修改密码</span>
      {{picture}}
    </div>
</div>
