<div class="p-lg">
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li class="" >
          <div class="timeline-badge primary">
            <em class="fa fa-edit"></em>
          </div>
          <div class="timeline-panel">
            <div class="popover" [ngClass]="timelineAlt ? 'right' : 'left'">
              <h4 class="popover-title">售后工单信息</h4>
              <div class="arrow"></div>
              <div class="popover-content">
                <ul class="list-unstyled" style="height: 250px">
                  <li class="pb">
                    <p class=" mr d-play w35"><span>工单编号：</span></p>
                    <p class="text-info  w62"><span class="text-left"></span></p>
                  </li>
                  <li class="pb">
                    <p class=" mr d-play w35"><span >订单号：</span></p>
                    <p class="text-info  w62"><span ></span></p>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge green">
            <em class="icon icon-user-following"></em>
          </div>
          <div class="timeline-panel">
            <div class="popover right" style="height: 200px">
              <h4 class="popover-title">售后信息</h4>
              <div class="arrow"></div>
              <div class="popover-content">
                <ul class="list-unstyled">

                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
</div>


