<div class="p-lg">
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li class="" >
          <div class="timeline-badge primary">
            <em class="fa fa-newspaper-o"></em>
          </div>
          <div class="timeline-panel">
            <!--<div class="popover" [ngClass]="timelineAlt ? 'right' : 'left'">-->
            <div class="popover">
              <h4 class="popover-title">售后单信息</h4>
              <div class="arrow"></div>
              <div class="popover-content">
                <ul class="list-unstyled list">
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">审核时间：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">{{result.updateTime}}</span></p>
                  </li>
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">订单编号：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">{{result.ordno}}</span></p>
                  </li>
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">售后单号：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">{{result.afterGoodsTail.afterNo}}</span></p>
                  </li>
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">商品名称：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">{{result.goodsName}}</span></p>
                  </li>
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">申请数量：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">{{result.num}}</span></p>
                  </li>
                  <!--<li class="pb">-->
                    <!--<p class=" mr pull-left d-play w35"><span class="pull-right">申请金额：</span></p>-->
                    <!--<p class="text-info pull-right w62"><span class="text-left">&yen;&nbsp;{{result.afterGoodsReq.reqMoney}}</span></p>-->
                  <!--</li>-->
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">退款金额：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">&yen;&nbsp;{{result.returnMoney | number:'1.2-2'}}</span></p>
                  </li>
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">实退红包：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">&yen;&nbsp;{{result.returnRp | number:'1.2-2'}}</span></p>
                  </li>
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">原因：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">{{result.reason}}</span></p>
                  </li>
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">售后单类型：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">{{result.returnType | rzhState :'1601'}}</span></p>
                  </li>
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">状态：</span></p>
                    <span class="text-info pull-right w62"><span class="text-left" *ngIf="result.state=='AGREE'">待用户寄出</span></span>
                    <span class="text-info pull-right w62"><span class="text-left" *ngIf="result.state=='DELIVERY'">用户已寄出</span></span>
                    <span class="text-info pull-right w62"><span class="text-left" *ngIf="result.state=='CHECK_FAILS'">拒绝退货</span></span>
                    <span class="text-info pull-right w62"><span class="text-left" *ngIf="result.state=='DONE'">退款完成</span></span>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge green">
            <em class="icon icon-user"></em>
          </div>
          <div class="timeline-panel">
            <div class="popover right" style="height: 200px">
              <h4 class="popover-title">买家信息</h4>
              <div class="arrow"></div>
              <div class="popover-content">
                <ul class="list-unstyled">
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">账户名：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">{{result.custName}}</span></p>
                  </li>
                  <li class="pb">
                    <p class=" mr pull-left d-play w35"><span class="pull-right">电话：</span></p>
                    <p class="text-info pull-right w62"><span class="text-left">{{result.custPhone}}</span></p>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
</div>


