._w0{
  width:0px !important;
}
.timeline-badge{
  width:20px !important;height:20px !important;font-size:10px !important;line-height:20px !important;left:9px !important;
}
._logistics{
  padding-top:15px;margin-bottom: 10px;background: #F3F3F3;
}
._line-height{
  line-height: 18px;
}
._mrl{
  margin-left:42px !important;
  overflow: hidden;
}

